@page
@model IAB251_Assignment_2_Project_Final.Pages.CustomerDashboardModel
@{
}

<div class="header-container">

    
    <form method="post">
        <button type="submit" value="Logout" name="Logout" class="btn btn-primary">Logout</button>
    </form>
</div>

<br />

<div class="pill-box-full">
    <h2 style="text-align: center">
        Welcome @Model.firstName to Your Dashboard
    </h2>
</div>

<div class="pill-box-full">
    <h3 style="text-align: center">
        Current Quotations
    </h3>

@* If quotations is not null iterates through and populates a table with the relevant details  *@
    <div>
        <form method="post">
        @if (Model.Quotations != null && Model.Quotations.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer Information</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Number of Containers</th>
                        <th>Size of Containers</th>
                        <th>Nature of Package</th>
                        <th>Import</th> 
                        <th>Packing</th>
                        <th>Quarantine Requirements</th>
                        <th>Fumigation</th>
                        <th>Crane</th>
                        <th>Status of Quotation</th>
                        <th>Total Cost</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var quote in Model.Quotations)
                    {
                        <tr>
                            <td>@quote.getCustomerInformation()</td>
                            <td>@quote.getSource()</td>
                            <td>@quote.getDestination()</td>
                            <td>@quote.getNumOfContainers()</td>
                            <td>@quote.getsizeOfContainers()</td>
                            <td>@quote.getNatureOfPackage()</td>
                            <td>@quote.getImport()</td>
                            <td>@quote.getPacking()</td>
                            <td>@quote.getQuarantineRequirements()</td>
                            <td>@quote.getFumigation()</td>
                            <td>@quote.getCrane()</td>
                            <td>@quote.getStatus()</td>

                                @if (quote.getStatus() == "sentForApproval")
                                {
                                    <td>@quote.getTotal()</td>
                                    <td>
                                        <input type="hidden" name="quoteIDAccept" value="@quote.getId()" />
                                        <button type="submit" name="action" value="accept">Accept</button>
                                    </td>

                                    <td>
                                        <input type="hidden" name="quoteIDReject" value="@quote.getId()" />
                                        <button type="submit" name="action" value="reject">Reject</button>
                                    </td>
                                }

                        </tr>
                    }

                </tbody>

            </table>
        }
        
        </form>

    </div>

    <form method="post">

        <div style="text-align: center">
            <button type="submit" name="action" value ="quotation"class="btn btn-primary">Create New Quotation Request</button>
        </div>


    </form>

</div>


