@page
@model IAB251_Assignment_2_Project_Final.Pages.EmployeeDashboardModel
@{
    ViewData["Title"] = "Employee Dashboard";
}

<link rel="stylesheet" href="~/css/styles.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="header-container">
    <form method="post" >
        <button type="submit" class="btn btn-secondary">Back</button>
    </form>


<form method="post">
    <button type="Logout" name="Logout" class="btn btn-primary">Logout</button>
</form>
    </div>
<br />

<div class="welcome-and-chart-container">
    <h1 class="pill-box">
        Welcome @Model.firstName to Your Quotation Management Dashboard
    </h1>
    <canvas id="myChart"></canvas>
</div>

<script>var xValues = ["Pending", "Accepted", "Denied"];
    var yValues = [8, 12, 5, 0];
    var barColors = ["red", "green", "blue"];

    new Chart("myChart", {
        type: "bar",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                data: yValues
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: "Quotation status"
            }
        }
    });</script>

<div class="pill-box-full">
    <form method="post">
        @if (Model.allQuotations != null && Model.allQuotations.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Customer ID</th>
                        <th>Customer Information</th>
                        <th>Source</th>
                        <th>Destination</th>
                        <th>Number of Containers</th>
                        <th>Size of Containers</th>
                        <th>Nature of Package</th>
                        <th>Importing</th>
                        <th>Packing</th>
                        <th>Quarantine Requirements</th>
                        <th>Fumigation</th>
                        <th>Crane</th>
                        <th>Status</th>
                        <th>Discount</th>
                        <th>Total Cost</th>
                        <th>Accept</th>
                        <th>Reject</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var quote in Model.allQuotations)
                    {
                        <tr>
                            <td>@quote.getCustomerId()</td>
                            <td>@quote.getCustomerInformation()</td>
                            <td>@quote.getSource()</td>
                            <td>@quote.getDestination()</td>
                            <td>@quote.getNumOfContainers()</td>
                            <td>@quote.getsizeOfContainers()</td>
                            <td>@quote.getNatureOfPackage()</td>
                            <td>@quote.getImport()</td>
                            <td>@quote.getPacking()</td>
                            <td>@quote.getQuarantineRequirements()</td>
                            <td>@quote.getFumigation()</td>
                            <td>@quote.getCrane()</td>
                            <td>
                                @if (quote.getStatus() == "quoteSent")
                                {
                                    <span>Pending</span>
                                }
                                else
                                {
                                    <span>@quote.getStatus()</span>
                                }
                            </td>
                            <td>
                                @if (quote.calculateDiscount() > 0)
                                {
                                    <div>
                                        <button type="submit" value="Discount" name="action">Apply Discount</button>
                                    </div>
                                }
                                else
                                {
                                    <span>No Discount to Apply</span>
                                }
                            </td>
                            <td>
                                @if (Model.Discount == true)
                                {
                                    <span>$@quote.calculateCharges(quote.getsizeOfContainers(), quote.calculateDiscount())</span>
                                }
                                else
                                {
                                    <span>$@quote.calculateCharges(quote.getsizeOfContainers(), 0)</span>
                                }
                            </td>
                            <td><button value="accept">Accept</button></td>
                            <td><button value="reject">Reject</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </form>

</div>

<h2 style="text-align: center"> Rates Schedule </h2>
<div>
    <table class="table">
        <tr>
            <td>Type</td>
            <td>20 Feet Container</td>
            <td>40 Feet Container</td>
        </tr>

        <tr>
            <td>Walf Booking Fee</td>
            <td>$60</td>
            <td>$70</td>
        </tr>

        <tr>
            <td>Lift On/Lift Off</td>
            <td>$80</td>
            <td>$120</td>
        </tr>

        <tr>
            <td>Fumigation</td>
            <td>$220</td>
            <td>$280</td>
        </tr>

        <tr>
            <td>LCL Delivery Depot</td>
            <td>$400</td>
            <td>$500</td>
        </tr>

        <tr>
            <td>Tailgate Inspection</td>
            <td>$120</td>
            <td>$160</td>
        </tr>

        <tr>
            <td>Storage Fee</td>
            <td>$240</td>
            <td>$300</td>
        </tr>

        <tr>
            <td>Facility Fee</td>
            <td>$70</td>
            <td>100</td>
        </tr>

        <tr>
            <td>Walf Inspection</td>
            <td>$60</td>
            <td>$90</td>
        </tr>

        <tr>
            <td>GST</td>
            <td>10%</td>
            <td>10%</td>
        </tr>
    </table>
</div>

